* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: auto;
}
.news {
    height: auto;
    position: relative;
    margin-top: 50px;
}
.imgs {
    text-align:center;
}
.imgs>img {
    height: 150px;
    width: 100px;
    margin-bottom: 20px;
    
}
.titles{
    font-size: 24px;
    margin-bottom: 10px
}
.texts{
    font-size: 18px;
    margin-bottom: 10px
}
.times{
    font-size: 18px;
    margin-bottom: 10px
}


.wp-pager {
    text-align: center; 
    position: relative; 
    bottom: auto; 
    width: 100%;
}

.news-de {
    width: 100%;
    margin: 0 auto;
    padding: 20px 50px;
}
.img-1 {
    text-align:center;
}

@media screen and (max-width: 750px) {
    .news{
        width: auto;
       padding: 0 15px;
    }
    .img-1 {
        margin: 0 auto;
        margin-top: 15px;
    }
    .img-1>img {
        width: 150px;
        height: 200px;
        margin: 0 auto;
    }
    .news-de {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }
    
}